<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
</head>
<style>
    .head1{
    background: #cef00f;
    color: rgb(45, 48, 51);
    font-size: 8vw;
    font-style: italic;
}

.result{
    background-color: blanchedalmond;
    text-decoration: underline;
}
</style>
<body>
    <h1 class="head1">Welcome to my website</h1>
    <nav>
        <a href="/">Home</a><br>
        <a href="/about">about us</a><br>
        <a href="/products">products</a><br>
        <a href="/contact">contact us</a><br>
    </nav>
    <h3 class="result">You are on the {{ page }} page.</h3>
</body>
</html>