<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm order</title>
</head>

<body>
    <h1>Your orders</h1>
    <form action="/buy" method="post">
        {% if selected_books %}
        <h3>You selected:</h3>
        <ul>
            {% for book in selected_books %}
            <li>{{ book }}</li>
            {% endfor %}
            {% else %}
            <p>Your cart is empty</p>
        </ul>
        {% endif %}
        <p>Total cost = {{ tcost }}</p>
        <input type="submit" value="BUY">
    </form>
</body>

</html>