<!-- if you don't have a account -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>You are on Signup page</h1>
    <form action="/signup" method="post">
        <lable for="fname">First Name : </lable>
        <input type="text" name="fname" id="fname"><br>
        <lable for="lname">Last Name : </lable>
        <input type="text" name="lname" id="lname"><br>
        <lable for="username">Username : </lable>
        <input type="text" name="username" id="username"><br>
        <lable for="mob">Mobile no. : </lable>
        <input type="number" name="mob" id="mob"><br>
        <lable for="email">Email id : </lable>
        <input type="email" name="email" id="email"><br>
        <lable for="password"> Password : </lable>
        <input type="password" name="password" id="password"><br>
        <input type="submit" value="Submit">
        
    </form>
</body>

</html>