<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <form method="post" action="/login">
        <label for="username"><strong>Username</strong></label>
        <input type="text" name="username" id="username" placeholder="enter your username"><br>
        <label for="username"><strong>Password</strong></label>
        <input type="text" name="password" id="password" placeholder="enter your password"><br>
        <input type="submit" value="login">
    </form>
</body>

</html>