<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>

<body>
    <h1>Register yourself</h1>
    <form action="/Home" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required><br>
        <label for="DOB">Date of birth</label>
        <input type="date" name="DOB" id="DOB" required><br>
        <label for="DOB">Email</label>
        <input type="email" name="email" id="email" required><br>
        <label for="DOB">Sports</label>
        <select id="sports" required>
            <option disabled selected>sports</option>
            <option>Cricket</option>
            <option>badminton</option>
            <option>football</option>
        </select><br>
        <input type="submit" value="submit">
    </form>
</body>

</html>